


.text
{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}


.class-blue
{
    fill: '#0069d9' !important;
}

.class-red
{
    fill: '#dc3545' !important;
}

.class-green
{
    fill: '#28a745' !important;
}

circle
{
  -webkit-transition: r 1s ease-out, fill 1s ease-out;
  -moz-transition: r 1s ease-out, fill 1s ease-out;
  -o-transition: r 1s ease-out, fill 1s ease-out;
  transition: r 1s ease-out, fill 1s ease-out;
}


circle.node {
   /* stroke: #fff;  */
   /* stroke-width: 3px; */
    width:50px;
}


circle.node_invisible {
   /* stroke: #fff;  */
   /* stroke-width: 3px; */
    width:0px;
}


line
{

  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;

}

line.link {
    stroke-width: 2px;
    stroke: #999;
    stroke-opacity: 0.6;

    -webkit-transition: all 2s ease-out;
   -moz-transition: all 2s ease-out;
   -o-transition: all 2s ease-out;
   transition: all 2s ease-out;
}

line_invisible.link {
    stroke-width: 0px;

}






text.label {
   /* font: 10px sans-serif; */
    pointer-events: none;
    color: white;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
     font-size:9.5px;
     font-weight:bold;

   /* text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff; */
}

text.percentage {
  /*  font: 10px sans-serif; */
     color: white;

     font-size:9.5px;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}


.svg-con
{
  display: inline-block;
  position: relative;
  margin-top:35px;
}

.svg-con::before
{
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background:white;
  opacity: .3;
  border-radius: 25px;
}

.nd-label
{
    height:35px;
    background: white;
    width: 100%;
    border-radius: 15px;
}






/*** Spinner Animation Made by Tobiasahlin ***/

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: white;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
